.logo-style {
    margin-left: 64px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.up-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(229, 229, 229);
}

.sign-in {
    color: rgba(28, 153, 99, 1);
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    margin-right: 16px;
}

.get-started {
    color: rgba(28, 153, 99, 1);
    text-decoration: none;
    font-size: 23px;
    margin-right: 64px;
    font-weight: 400;
    border: 2px solid rgb(82, 181, 123);
    border-radius: 4px;
    padding: 10px 16px;
}

.down-nav {
    display: flex;
    align-items: center;   
}

.nav-item {
    margin-right: 40px;
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-size: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-content-container {
    max-width: 1000px;
}

.main-content-title {
    font-size: 60px
}

.main-content-title-account {
    display: flex;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.left-part {
    display: flex;
    align-self: center;
    padding-top: 20px;
    
}

.left-part-info {
    align-self: center;
    flex-direction: column;
    font-size: 20px;
    margin-left: 20px;
}

.follow {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding: 0 10px;
    margin-left: 10px;
}

.date {
    color: rgb(116, 117, 121);
    margin-top: 5px;
}

.right-part {
    display: flex;
    padding-top: 20px;
}

.link-item {
    padding-right: 20px;
}

.link-right-item {
    padding-right: 30px;
}

.content-text {
    margin-top: 20px;
    font-size: 33px;
}